.page-wrapper--sidebar-closed {
  .sidebar {
    &__btn {
      .sidebar__icon {
        transform: rotate(0deg) scale(1);
      }

      &:hover {
        .sidebar__icon {
          transform: rotate(0deg) scale(1.2);
        }
      }
    }
  }
}

.sidebar {
  height: 100%;
  width: 100%;

  position: relative;

  display: flex;
  flex-direction: column;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: calc(#{$navbar-height} + 0.5rem);
    right: -3rem;
    
    @include respond(phone) {
      top: calc(#{$navbar-height} + 1rem);
      right: -5rem;
    }

    opacity: 0.5;

    &:hover {
      opacity: 1;

      .sidebar__icon {
        transform: rotate(-180deg) scale(1.2);
      }
    }
  }

  &__icon {
    transform: rotate(-180deg) scale(1);
    
    @include svg_block;
    @include box(3rem);

    @include respond(phone) {
      @include box(5rem);
    }

    @include svg_color(var(--black-600));

    cursor: pointer;
  }
}
