extends base/base_noUser.pug

block main
    .frmGroup-wrapper
        //- Forgot Password
        form.frmGroup(id="frm_forgotPass")
            h2.frmGroup__header= pages.forgotPass.frmGroup__header
            p.frmGroup__text= pages.forgotPass.text
            input.frmGroup__input(type="email" autocomplete="email" name="email" id="frm_forgotPass_email" placeholder=`${pages.forgotPass.email}` value=`` required)
            button.frmGroup__button.frmGroup__button--margin-width(id="frm_forgotPass_btn")= pages.forgotPass.formBtn
