extends base/base_sidebar.pug

block main
    .main-content
        h1 Test
        .fadeButtons
            button(type="button", id="fadein") Fade In
            button(type="button", id="fadeout") Fade Out
            button(type="button", id="fadetoggle") Fade Toggle

        .big_box(id='bigbox')