.radio-group
    label.radio
        .radio__input
            input(type='radio' name='radio' checked)
            .radio__circle
            .radio__outline
        .radio__label= contentFiles.tableHeader.newFile.radio.image
    
    label.radio
        .radio__input
            input(type='radio' name='radio')
            .radio__circle
            .radio__outline
        .radio__label= contentFiles.tableHeader.newFile.radio.file
    
    label.radio
        .radio__input
            input(type='radio' name='radio')
            .radio__circle
            .radio__outline
        .radio__label= contentFiles.tableHeader.newFile.radio.video