 // $dp-cell-size-base: 2.25rem !default;
 // $dp-font-size-small: 0.75rem !default;
 // $dp-font-size-normal: 1rem !default;
 $dp-cell-size-base: 3.8rem;
 $dp-font-size-small: 1.2rem;
 $dp-font-size-normal: 1.8rem;