*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;
}

// safari'de ol ve ul üzerinde bulunan boşlukları kaldırmak için gerekli kod
ol,
ul,
dl {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: transparent;
  background-image: none;

  cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
