.navbar-responsive {
  display: none;

  justify-content: space-between;
  align-items: center;

  height: $navbar-height;

  padding: 0 1.5rem;

  background: var(--black-050);
  background-image: url(url_string($bamboo, '9fa6ad', 0.2));

  box-shadow: var(--bs-sm);

  @include respond(phone) {
    display: flex;
  }

  .brand {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &__text {
      position: absolute;
      font-size: 1.4rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    @include box($navbar-responsive_button_size);
  }

  &__icon {
    @include svg_color(var(--black-600));
    @include svg_block;
    @include box(100%);
    @include noselect;

    position: absolute;

    cursor: pointer;

    transform: rotate(0) scale(1);
    opacity: 1;

    &--hide {
      transform: rotate(360deg) scale(0);
      opacity: 0;
    }
  }

  &__search {
    position: absolute;
    right: $navbar-responsive_button_size;

    & input {
      display: inline-block;
      height: $navbar-height;
      width: 0;
      // width: 88vw;

      background-color: var(--color-white);
      color: var(--fc-medium);

      cursor: text;

      border: none;
      outline: none;
      border-radius: 3px;

      transition: width 0.3s cubic-bezier(0.8, 0, 0.07, 1);
    }
  }
}
