@mixin dark_colors {
  @include generate_colors($colors-dark);

  // Font colors
  --fc-dark: var(--black-900);
  --fc-medium: var(--black-700);
  --fc-light: var(--black-500);

  // Focus rings
  --focus-ring: rgba(var(--RGB_blue-500), 0.15);
  --focus-ring-success: rgba(var(--RGB_green-200), 0.4);
  --focus-ring-warning: rgba(var(--RGB_yellow-400), 0.4);
  --focus-ring-error: rgba(var(--RGB_red-500), 0.3);
  --focus-ring-muted: rgba(var(--RGB_black-800), 0.1);

  // Shadows
  --bs-sm: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  --bs-md: 0 1px 3px rgba(0, 0, 0, 0.11), 0 2px 6px rgba(0, 0, 0, 0.11),
    0 3px 8px rgba(0, 0, 0, 0.14);
  --bs-lg: 0 1px 4px rgba(0, 0, 0, 0.14), 0 3px 8px rgba(0, 0, 0, 0.14),
    0 4px 13px rgba(0, 0, 0, 0.18);

  // Scrollbars
  --scrollbar: rgba(255, 255, 255, 0.2);

  // Syntax highlighting
  --highlight-bg: #1c1b1b;
  --highlight-color: $color-white; // AAA 17.19
  --highlight-comment: #999; // AA 6.03
  --highlight-punctuation: #ccc; // AAA 10.70
  --highlight-namespace: #f08d49; // orange-700 AAA 7.05
  --highlight-attribute: #88aece; // Custom powder blue AAA 7.63
  --highlight-literal: #f08d49; // orange-700 AAA 7.05
  --highlight-symbol: #c59bc1; // Custom purple AAA 7.23
  --highlight-keyword: #88aece; // Custom powder blue AAA 7.63
  --highlight-variable: #b5bd68;
  --highlight-addition: var(--green-600); // AAA 8.21
  --highlight-deletion: var(--red-700); // AA 5.51

  // https://www.heropatterns.com/
  //--black-500:#acb2b8
  --background-pattern-diagonalLines: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23acb2b8' fill-opacity='0.34' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

  //--black-500:#acb2b8
  --sidebar-search-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3E search%3C/title%3E%3Cpath d='M31 27.2l-7.6-6.4c-0.8-0.7-1.6-1-2.3-1 1.8-2.1 2.9-4.8 2.9-7.8 0-6.6-5.4-12-12-12s-12 5.4-12 12 5.4 12 12 12c3 0 5.7-1.1 7.8-2.9 0 0.7 0.3 1.5 1 2.3l6.4 7.6c1.1 1.2 2.9 1.3 4 0.2s1-2.9-0.2-4zM12 20c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8z' fill='%23acb2b8'/%3E%3C/svg%3E");

  --topLight-to-bottomDark-deg: 0deg;

  .sb-link--active {
    .sb-link__text {
      color: var(--orange-400);
    }
    .sb-link__icon--filled {
      @include svg_color(var(--orange-400));
    }
  }
}
